{% extends 'layouts/base.html.twig' %}

{% block title %}Change Password{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <H1 class="my-5">Change Password</H1>
                {{form_start(form) }}
                    {{form_widget(form) }}
                    </br>
                    <button type="submit" class="btn btn-primary col-12" formnovalidate>Change Password</button>
                {{form_end(form) }}
            
        </div>
    </div>
   
{% endblock %}
