{% extends 'base.html.twig' %}

{% block title %}new Pin{% endblock %}

{% block body %}
    <H1>Create Pin</H1>
    {{ include('pins/_form.html.twig', {'SubmitButtonText': 'Create Pin'})}}
{% endblock %}
