{% extends 'base.html.twig' %}

{% block title %}new Pin{% endblock %}

{% block body %}
    <H1>Create Pin</H1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create Pin">
    {{ form_end(form) }}
{% endblock %}
