{% extends 'base.html.twig' %}

{% block title %}Edit Pin{% endblock %}

{% block body %}
    <H1>Edit Pin</H1>
    {{ include('pins/_form.html.twig', {'SubmitButtonText': 'Edit Pin'})}}
{% endblock %}