{% extends 'layouts/base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <H1>Administrateur de pin</H1>

        </div>
    </div>
   
{% endblock %}

