@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import "~bootstrap/scss/bootstrap";

body {
    font-family: 'Montserrat', sans-serif;
}

.vich-image .form-check {
    @extend .mb-3;
}

.taille-div {
    height: 300px;
    width: 300px;

    img {
        height: 200px;
        width: 200px;
    }
}

.vich-image img {
    @extend .mb-2;
    @extend .rounded;
    @extend .shadow;
    @extend .img-thumbnail;
}

section {
    h1 {
        color: green;
        
        a {
            color: green;
        }
    }
}
.alert {
    padding: 10px;
    color: white;
    text-align: center;
}

.alert-success {
    background-color: green;
}

.alert-error {
    background-color: red;
}

.alert-info {
    background-color: blue;
}


.pin {
    transition: transform 0.3s ease-out;
    img:hover {
        transform: scale(1.075);
    }
}
